.companyName {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.ruleEngineChild {
  height: 45px;
  width: 390px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.aagGpc {
  width: 76px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  position: relative;
  color: var(--color-darkgray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.outputRenderer,
.ruleEngine {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.ruleEngine {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-mid) var(--padding-smi);
  z-index: 1;
}
.outputRenderer {
  flex-direction: column;
  gap: 13px 0;
}
.span {
  color: var(--color-black);
}
.chainsGaragesContainer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.inputProcessor {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px 0;
  min-width: 253px;
  max-width: 100%;
}
.span1 {
  color: var(--color-black);
}
.location {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frameChild,
.imageEnhancerChild {
  position: relative;
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
}
.imageEnhancerChild {
  height: 45px;
  width: 390px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  max-width: 100%;
}
.frameChild {
  height: 34px;
  width: 90px;
  border-radius: var(--br-10xs);
  background-color: var(--color-steelblue);
}
.filterIcon,
.norway {
  position: relative;
  z-index: 1;
}
.norway {
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
}
.filterIcon {
  width: 9px;
  height: 10px;
}
.decisionMaker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.frameItem,
.rectangleParent {
  border-radius: var(--br-10xs);
  background-color: var(--color-steelblue);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.rectangleParent {
  cursor: pointer;
  padding: var(--padding-6xs) var(--padding-8xs) var(--padding-6xs)
    6.100000000000364px;
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.frameItem {
  height: 34px;
  width: 102px;
  position: relative;
  display: none;
}
.denmark,
.vectorIcon {
  position: relative;
  z-index: 1;
}
.denmark {
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
}
.vectorIcon {
  width: 9px;
  height: 10px;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.rectangleGroup,
.textAnalyzerChild {
  border-radius: var(--br-10xs);
  background-color: var(--color-steelblue);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.rectangleGroup {
  cursor: pointer;
  padding: var(--padding-6xs) var(--padding-9xs) var(--padding-6xs)
    var(--padding-8xs);
  flex: 0.9286;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  min-width: 66px;
  z-index: 2;
}
.textAnalyzerChild {
  height: 34px;
  width: 88px;
  position: relative;
  display: none;
}
.dataDividerIcon,
.france {
  position: relative;
  z-index: 3;
}
.france {
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
}
.dataDividerIcon {
  width: 9px;
  height: 10px;
}
.functionCombiner {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.dataExtractor,
.functionCombiner,
.textAnalyzer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textAnalyzer {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro-100);
  padding: var(--padding-6xs);
  background-color: var(--color-steelblue);
  align-self: stretch;
  border-radius: var(--br-10xs);
  flex-direction: row;
  gap: 0 7px;
  z-index: 2;
}
.dataExtractor {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 60px;
}
.frameInner {
  height: 29px;
  width: 30px;
  position: relative;
  border-radius: var(--br-340xl);
  background-color: var(--color-steelblue);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
}
.dataNormalizer {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.rectangleContainer,
.ruleSet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleContainer {
  align-self: stretch;
  border-radius: var(--br-340xl);
  background-color: var(--color-steelblue);
  border: 1px solid var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-6xs)
    var(--padding-7xs);
  z-index: 2;
}
.ruleSet {
  width: 36.5px;
  flex-direction: column;
  padding: var(--padding-11xs) var(--padding-6xs-5) 0 0;
  box-sizing: border-box;
}
.connectionCreatorIcon,
.imageCompressorChild {
  position: absolute;
  top: 9px;
  left: 9.5px;
  width: 22px;
  height: 13px;
  z-index: 2;
}
.imageCompressorChild {
  top: 0;
  left: 0;
  width: 0;
  height: 29px;
  object-fit: contain;
}
.imageCompressor {
  width: 31.5px;
  height: 29px;
  position: relative;
}
.textSegmenter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.imageEnhancer {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-smi) var(--padding-7xs)
    var(--padding-6xs);
  gap: 0 4px;
  z-index: 1;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.dataSorter,
.dataTree,
.imageEnhancer,
.logicGate {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.dataSorter {
  flex: 1;
  flex-direction: column;
  gap: 13px 0;
  min-width: 253px;
}
.dataTree,
.logicGate {
  flex-direction: row;
}
.logicGate {
  flex: 1;
  flex-wrap: wrap;
  gap: 0 20px;
}
.dataTree {
  align-self: stretch;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .chainsGaragesContainer,
  .companyName,
  .location {
    font-size: var(--font-size-base);
  }
  .rectangleGroup {
    flex: 1;
  }
  .imageEnhancer {
    flex-wrap: wrap;
  }
}
