.frameChild {
  height: 85px;
  width: 1359px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.garage,
.starAutoWorks {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.starAutoWorks {
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
}
.radioGroupMaker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px 0;
}
.image29Icon {
  height: 49px;
  width: 63px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.conditionChecker {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.linkConnector,
.outputProvider {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.outputProvider {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.linkConnector {
  height: 51px;
  flex-direction: row;
  padding: 0 var(--padding-19xl) 0 0;
  box-sizing: border-box;
  gap: 0 20px;
}
.owner {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.loopController {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.aagGpc {
  position: relative;
  font-weight: 500;
  color: var(--color-darkslateblue);
  z-index: 1;
}
.divider,
.mergeNode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mergeNode {
  gap: 9px 0;
}
.divider {
  padding: var(--padding-11xs) var(--padding-11xl) 0 0;
}
.logicGate {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.imageProcessor {
  height: 51px;
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.chain,
.nappa {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.nappa {
  color: var(--color-darkslateblue);
}
.dataFlowControl,
.signalProcessor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.signalProcessor {
  gap: 9px 0;
}
.dataFlowControl {
  padding: var(--padding-11xs) var(--padding-14xl) 0 0;
}
.imageProcessorChild {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.imageProcessor1 {
  height: 51px;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.location {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.sequenceManagerChild {
  cursor: pointer;
  margin: 0;
  height: 18px;
  width: 14px;
  position: relative;
  min-height: 18px;
  z-index: 2;
}
.oslo {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.counter,
.sequenceManager,
.variableHolder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sequenceManager {
  flex-direction: row;
  gap: 0 9px;
  color: var(--color-darkslateblue);
}
.counter,
.variableHolder {
  flex-direction: column;
}
.variableHolder {
  gap: 9px 0;
}
.counter {
  padding: var(--padding-11xs) var(--padding-9xl) 0 0;
}
.imageProcessorItem {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.imageProcessor2 {
  height: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.compressorIcon,
.groupIcon {
  height: 23px;
  width: 23px;
  position: relative;
  z-index: 1;
}
.groupIcon {
  width: 24px;
  height: 24px;
}
.expander {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs);
}
.calibrator,
.expander,
.textContainer,
.validator {
  display: flex;
  justify-content: flex-start;
}
.validator {
  flex-direction: row;
  align-items: flex-end;
  gap: 0 20px;
}
.calibrator,
.textContainer {
  align-items: flex-start;
}
.calibrator {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.textContainer {
  flex-direction: row;
  gap: 0 43px;
  max-width: 100%;
}
.rectangleParent,
.toggleButton {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  width: 1359px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-21xl) var(--padding-base)
    var(--padding-42xl);
  gap: var(--gap-xl);
}
.toggleButton {
  width: 1420px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .textContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .textContainer {
    gap: 0 21px;
  }
}
