.frameChild {
  height: 85px;
  width: 1359px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.futuristicGarage,
.garage {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.futuristicGarage {
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
}
.garageParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px 0;
}
.image30Icon {
  align-self: stretch;
  height: 46px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 2;
}
.image30Wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frameGroup,
.frameItem {
  height: 50px;
  box-sizing: border-box;
}
.frameItem {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  z-index: 1;
}
.frameGroup {
  width: 124px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) 0 0;
  gap: 0 17px;
}
.owner {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.ownerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.aagGpc {
  position: relative;
  font-weight: 500;
  color: var(--color-darkslateblue);
  z-index: 1;
}
.frameContainer,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  gap: 9px 0;
}
.frameWrapper {
  padding: var(--padding-12xs) var(--padding-11xl) 0 0;
}
.frameInner {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.lineWrapper {
  height: 50px;
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chain,
.nappa {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.nappa {
  color: var(--color-darkslateblue);
}
.chainParent,
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chainParent {
  gap: 9px 0;
}
.frameDiv {
  padding: var(--padding-12xs) var(--padding-14xl) 0 0;
}
.lineDiv {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.lineContainer {
  height: 50px;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.location {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.groupInput,
.oslo {
  position: relative;
  z-index: 2;
}
.groupInput {
  cursor: pointer;
  margin: 0;
  height: 18px;
  width: 14px;
  min-height: 18px;
}
.oslo {
  font-weight: 500;
}
.frameParent1,
.frameWrapper1,
.locationParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex-direction: row;
  gap: 0 9px;
  color: var(--color-darkslateblue);
}
.frameWrapper1,
.locationParent {
  flex-direction: column;
}
.locationParent {
  gap: 9px 0;
}
.frameWrapper1 {
  padding: var(--padding-12xs) var(--padding-9xl) 0 0;
}
.frameChild1 {
  height: 50px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.groupIcon,
.vectorIcon {
  height: 23px;
  width: 23px;
  position: relative;
  z-index: 1;
}
.groupIcon {
  width: 24px;
  height: 24px;
}
.groupWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs);
}
.frameWrapper2,
.groupWrapper,
.vectorParent {
  display: flex;
  justify-content: flex-start;
}
.vectorParent {
  flex-direction: row;
  align-items: flex-end;
  gap: 0 20px;
}
.frameWrapper2 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xs) 0 0;
}
.forLoopNode,
.frameParent,
.rectangleParent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 43px;
}
.forLoopNode,
.rectangleParent {
  box-sizing: border-box;
}
.rectangleParent {
  width: 1359px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-21xl) var(--padding-base)
    var(--padding-42xl);
  gap: var(--gap-xl);
}
.forLoopNode {
  width: 1420px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs) var(--padding-xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .frameChild1 {
    width: 100%;
    height: 1px;
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: 0 21px;
  }
}
