.frameChild {
  height: 85px;
  width: 1359px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.aagGpc,
.owner {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.aagGpc {
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
}
.ownerParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px 0;
}
.frameItem,
.image23Icon {
  position: relative;
  z-index: 1;
}
.image23Icon {
  height: 49px;
  width: 53px;
  object-fit: cover;
}
.frameItem {
  height: 50px;
  width: 1px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.image23Parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-48xl) 0 0;
  box-sizing: border-box;
  min-width: 54px;
  gap: var(--gap-xl);
}
.chains,
.div {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.chainsParent,
.frameContainer,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: row;
  padding: 0 var(--padding-base) 0 var(--padding-mid);
  color: var(--color-darkslateblue);
}
.chainsParent,
.frameContainer {
  flex-direction: column;
}
.chainsParent {
  gap: 9px 0;
}
.frameContainer {
  width: 117px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.frameInner {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.lineWrapper {
  height: 50px;
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1,
.garages {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.container,
.garagesParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  flex-direction: row;
  padding: 0 var(--padding-3xl) 0 var(--padding-4xl);
  color: var(--color-darkslateblue);
}
.garagesParent {
  flex-direction: column;
  gap: 9px 0;
}
.frameDiv,
.lineDiv {
  box-sizing: border-box;
}
.frameDiv {
  width: 117px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.lineDiv {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  z-index: 1;
}
.lineContainer {
  height: 50px;
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.location {
  white-space: nowrap;
}
.location,
.norway {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frameWrapper1,
.locationParent,
.norwayWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.norwayWrapper {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  color: var(--color-darkslateblue);
}
.frameWrapper1,
.locationParent {
  flex-direction: column;
}
.locationParent {
  gap: 9px 0;
}
.frameWrapper1 {
  width: 117px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.frameChild1,
.lineFrame {
  height: 50px;
  box-sizing: border-box;
}
.frameChild1 {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  z-index: 1;
}
.lineFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
}
.vectorIcon {
  width: 23px;
  height: 23px;
  position: relative;
  z-index: 1;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.groupIcon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.frameParent,
.groupWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupWrapper {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.frameParent {
  width: 885px;
  flex-direction: row;
  gap: 0 20px;
  max-width: 100%;
}
.image21Icon {
  width: 94px;
  height: 49px;
  position: relative;
  object-fit: cover;
  display: none;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.noLogo {
  position: absolute;
  top: 9px;
  left: 8px;
  font-weight: 500;
  display: inline-block;
  width: 39px;
}
.frameChild2,
.rectangleGroup {
  position: relative;
  display: none;
}
.rectangleGroup {
  width: 53px;
  height: 49px;
}
.frameChild2 {
  align-self: stretch;
  height: 329px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
}
.span {
  color: var(--color-red);
}
.selectLanguageContainer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.trainerChild {
  height: 45px;
  width: 390px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.analyzerChild {
  height: 26px;
  width: 36px;
  position: relative;
  z-index: 5;
}
.englishUnitedStates {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.explorer {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.analyzer,
.classifier,
.explorer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.analyzer {
  align-self: stretch;
  flex-direction: row;
  gap: 0 14px;
}
.classifier {
  width: 224px;
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.dataProcessorChild,
.linkAggregatorIcon {
  position: absolute;
  top: 9px;
  left: 9.5px;
  width: 22px;
  height: 13px;
  z-index: 2;
}
.dataProcessorChild {
  top: 0;
  left: 0;
  width: 0;
  height: 29px;
  object-fit: contain;
}
.dataProcessor {
  height: 29px;
  width: 31.5px;
  position: relative;
}
.trainer {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-sm) var(--padding-5xs)
    var(--padding-mid);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--font-size-mini);
}
.featureExtractor,
.modelBuilder {
  align-items: flex-start;
  justify-content: flex-start;
}
.modelBuilder {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 13px 0;
  max-width: 100%;
}
.featureExtractor {
  width: 438px;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.featureExtractor,
.frameWrapper,
.image21Parent,
.rectangleParent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.image21Parent {
  width: 851px;
  margin: 0 !important;
  position: absolute;
  top: -212px;
  right: 272px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-15xl-5);
  z-index: 4;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-silver-300);
}
.frameWrapper,
.rectangleParent {
  flex-direction: row;
}
.rectangleParent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-21xl) var(--padding-base)
    var(--padding-42xl);
  position: relative;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) var(--padding-7xs);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1300px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .trainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .selectLanguageContainer {
    font-size: var(--font-size-base);
  }
  .analyzer {
    flex-wrap: wrap;
  }
}
