.frameChild {
  height: 85px;
  width: 1359px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.garage,
.starAutoWorks {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.starAutoWorks {
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
}
.garageParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px 0;
}
.frameItem {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.lineWrapper {
  height: 50px;
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.owner {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.ownerWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 76px;
}
.frameInner {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.lineContainer {
  height: 50px;
  width: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.autoParts,
.chain {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.autoParts {
  color: var(--color-darkslateblue);
}
.chainParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chainParent {
  gap: 9px 0;
}
.frameWrapper {
  flex: 0.757;
  padding: var(--padding-12xs) var(--padding-7xl) 0 0;
  box-sizing: border-box;
  min-width: 70px;
}
.lineDiv {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.lineFrame {
  height: 50px;
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.location {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.locationWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 76px;
}
.frameChild1,
.frameDiv {
  height: 50px;
  box-sizing: border-box;
}
.frameChild1 {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  z-index: 1;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
}
.vectorIcon {
  width: 23px;
  height: 23px;
  position: relative;
  z-index: 1;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.groupIcon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.frameParent,
.groupWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupWrapper {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.frameParent {
  width: 785px;
  flex-direction: row;
  gap: 0 20px;
  max-width: 100%;
}
.bergen {
  position: absolute;
  margin: 0 !important;
  right: 206px;
  bottom: 20px;
  font-weight: 500;
  color: var(--color-darkslateblue);
  z-index: 2;
}
.rectangleParent {
  position: absolute;
  top: 528px;
  left: 34px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 1359px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-21xl) var(--padding-base)
    var(--padding-42xl);
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1100px) {
  .rectangleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .frameWrapper {
    flex: 1;
  }
}
