.frameChild {
  height: 85px;
  width: 1359px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.chain,
.nappa {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.chain {
  width: 52px;
  display: inline-block;
}
.nappa {
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
}
.valueCounter,
.valueRanker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.valueCounter {
  gap: 9px 0;
}
.valueRanker {
  padding: 0 0 var(--padding-10xs);
}
.image25Icon {
  height: 56px;
  width: 69px;
  position: relative;
  object-fit: cover;
  min-height: 56px;
  z-index: 2;
}
.valueSorterList {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.valueComparator,
.valueRanger {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.valueComparator {
  height: 53px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.valueRanger {
  flex-direction: row;
  padding: 0 var(--padding-19xl) 0 0;
  gap: 0 19px;
}
.owner {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.valueTransformerList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.aagGpc {
  position: relative;
  font-weight: 500;
  color: var(--color-darkslateblue);
  z-index: 1;
}
.valueFilterList,
.valueMapperList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.valueMapperList {
  gap: 9px 0;
}
.valueFilterList {
  padding: var(--padding-9xs) var(--padding-11xl) 0 0;
}
.valueRemoverList {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.valueUpdaterList {
  height: 53px;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.garages,
.textParser {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.dataProcessor,
.valueCounterStack,
.valueSummarizerStack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dataProcessor {
  flex-direction: row;
  padding: 0 var(--padding-3xl) 0 var(--padding-4xl);
  color: var(--color-darkslateblue);
}
.valueCounterStack,
.valueSummarizerStack {
  flex-direction: column;
}
.valueSummarizerStack {
  gap: 9px 0;
}
.valueCounterStack {
  padding: var(--padding-9xs) var(--padding-12xl) 0 0;
}
.geometryTransformer {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.imageFilter {
  height: 53px;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.location {
  white-space: nowrap;
}
.location,
.norway {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.eventTriggerer,
.loopLoopper,
.sequenceSequencer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.eventTriggerer {
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  color: var(--color-darkslateblue);
}
.loopLoopper,
.sequenceSequencer {
  flex-direction: column;
}
.loopLoopper {
  gap: 9px 0;
}
.sequenceSequencer {
  padding: var(--padding-9xs) var(--padding-9xl) 0 0;
}
.propertyProcessor {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.stackStacker {
  height: 53px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.getterGetterIcon,
.groupIcon {
  height: 23px;
  width: 23px;
  position: relative;
  z-index: 1;
}
.groupIcon {
  width: 24px;
  height: 24px;
}
.filterFinder,
.setterSetter {
  display: flex;
  justify-content: flex-start;
}
.filterFinder {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs);
}
.setterSetter {
  flex-direction: row;
  align-items: flex-end;
  gap: 0 20px;
}
.mapMapper,
.valueMinFinder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mapMapper {
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
}
.valueMinFinder {
  flex-direction: row;
  gap: 0 43px;
  max-width: 100%;
}
.rectangleParent,
.valueSwapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  width: 1359px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-21xl) var(--padding-smi)
    var(--padding-42xl);
  gap: var(--gap-xl);
}
.valueSwapper {
  width: 1420px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .valueMinFinder {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .valueMinFinder {
    gap: 0 21px;
  }
}
